@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

*{
    font-family: Outfit;
}
a.active hr{
    display: block;
}
::selection {
    background-color: #bbbab5; /* Example background color */
    color: black; /* Example text color */
  }
  
img,i{
    outline: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}  
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar{
    display: none;
}

/*Side Bar nav*/
@media(max-width:640px){
    a.active{
        background-color: #c3c0b9;
        color: black;
    }
}